{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-6 fade-in" style="animation-delay: 0.1s; display: inline;">
    <div class="blog-post bg-white p-4 h-100">
        <img src="background.jpg" alt="Post image" class="img-fluid rounded mb-3">
        <div class="d-flex mb-2">
            <span class="badge bg-primary me-2">{{object.category}}</span>
            <small class="text-muted">{{object.published_date|date:"F d, Y"}}</small>
        </div>
        <h2 class="blog-post-title">{{object.title}}</h2>
        <p class="blog-post-meta">by <a href="#">{{object.author}}</a></p>
        <p>{{object.content}}</p><br>
        {% if object.author == user %}
        <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
        <a href="{% url 'post-delete' object.id %}" class="btn btn-outline-danger btn-sm mt-1 mb-1">Delete</a>
        {% endif %}

    </div>
</div>
{% endblock content %}