{% extends 'blog/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-50">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm border-0 text-center">
            <div class="card-body p-4">
                <p class="fw-semibold text-success fs-5 mb-3">
                    Your password has been changed successfully.
                </p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
